@import '../../../platform/themes/global.scss';

.section-container{
  height: 48vh;

  & .home-container{
    position: relative;
    top: -220px;

    & .home-content{
      margin-left: 150px;
    }
  }

  & .information-container{
    & .content-information{
      background: linear-gradient(329deg, rgba(165,215,225,1) 7%, rgba(254,205,114,1) 18%, rgba(255,255,255,1) 32%);
    }
    & .info-details{
      width:130px;
    }
    & strong{
      color: #FE9200;
    }
  }
}
