@import '../../../platform/themes/global.scss';

.section-container{
  height: 48vh;

  & .home-container{
    position: relative;
    top: -220px;

    & .home-content{
      margin-left: 150px;
    }
  }

  & .information-container{
    & .info-details{
      width:130px;
    }
  }
}
