<header class="navbar bg-body-primary">
  <div class="container-fluid row">
    <nav class="col navbar navbar-light bg-light">
      <div class="container-fluid p-0 ps-1">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="d-flex col-6">
      <div class="border-end border-primary border-3">
        <a routerLink="/objective" class="navbar-brand me-3">
          <img src="../../../assets/imgs/logoSkandia.svg" alt="Logo" class="d-inline-block align-text-top">
        </a>
      </div>
      <div>
        <p class="text-primary header-tittle m-0 ms-3">Plan Financiero Digital - FPX</p>
      </div>
    </div>
    <div class="d-flex col-4 justify-content-evenly">
      <div class="d-flex ">
        <img src="../../../assets/icons/Happy.svg" alt="smile">
        <p class="fw-bold p-2 text-success general-p1 m-0">Tu Financial Planner</p>
      </div>
      <div class="d-flex ">
        <img src="../../../assets/icons/hand3.svg" alt="hand">
        <p class="fw-bold text-success p-2 general-p1 m-0">Aportes</p>
      </div>
      <div>
        <img src="../../../assets/icons/Faq.svg" alt="faq">
      </div>
    </div>
  </div>
</header>
<div class="collapse container-nav bg-light" id="navbarToggleExternalContent">
  <div class="bg-success p-4 content-nav">
    <img src="../../../assets/icons/home.svg" alt="home">
  </div>
</div>
