@import '../../../platform/themes/global.scss';

header{

  & .header-tittle{
    font-family: $Montserrat-font;
  }

  & .general-p1{
    font-family: $Verdana-font;
  }
}

.container-nav{
  position: absolute;
  height: 98vh;
  width: 70px;
  z-index: 1;

}
