<footer>
  <div class="d-flex text-start justify-content-around mt-5 align-items-end pb-4">
    <div>
      <img src="../../../../assets/imgs/logoSkandia.svg" alt="Logo">
      <p class="mt-3">© 2019 Skandia</p>
      <p class="m-0">PBX: <span class="text-success fw-bold">658 4000</span> / <span class="text-success fw-bold">484 1300</span></p>
      <p class="m-0">Línea nacional: <span class="text-success fw-bold">01 8000 517 526</span></p>
      <p class="m-0">Línea corporativa: 658 4123</p>
      <p class="m-0">Av. 19 # 109A - 30</p>
      <p class="m-0">Bogotá D.C., Colombia</p>
      <p class="m-0">Oficinas a nivel nacional</p>
    </div>
    <div class="d-flex flex-column">
      <a href="#">Términos y condiciones</a>
      <a href="#">Defensoria del consumidor</a>
      <a href="#">Protección de Datos</a>
      <a href="#">Definiciones Generales</a>
      <a href="#">Recomendaciones de seguridad</a>
      <a href="#">Ley de transparencia</a>
      <a href="#">Mapa del sitio</a>
    </div>
    <div>
      <a class="ms-2" href="#"><img src="../../../../assets/icons/facebookl.svg"></a>
      <a class="ms-2" href="#"><img src="../../../../assets/icons/youtube.svg"></a>
      <a class="ms-2" href="#"><img src="../../../../assets/icons/twitter.svg"></a>
    </div>
  </div>
</footer>
