/* You can add global styles to this file, and also import other style files */

//General Colors
$success:                       #00C83C;
$tertiary:                      #3F3F3F;
$info:                          #A5D7E1;
$warning:                       #FECD72;
$secondary:                     #95DBB7;

@import "../node_modules/bootstrap/scss/bootstrap";
